
@{
    ViewBag.Title = "CreateUserRole";
}

<h2>CreateUserRole</h2>
<div>
    @using (Html.BeginForm())
    {
        <div>User Name: @Html.DropDownList("UserId")</div>
        <div>Roles: @Html.DropDownList("RoleId")</div>
        <input type="submit" value="Submit" />
    }
</div>
